* {
  box-sizing: border-box;
}

html, body, button, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

button, input {
  border: none;
  outline: none;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.hero {
  position: relative;
  width: 100%;
  height: 1024px;
  background-image: url(../images/hero/Map.svg), radial-gradient(circle at 42% 49%, rgba(34, 34, 34, 0.43), #0F0F0F), url(../images/hero/bg.png);
  background-position: right top, center, center;
  background-repeat: no-repeat;
}

.hero .logo {
  position: absolute;
  top: 0;
  left: 0;
}

.hero .logo .logo-text-large {
  position: absolute;
  top: 0;
  left: 0;
  font-family: FiraSans-ExtraBold;
  font-size: 200px;
  line-height: 156px;
  color: rgba(255, 255, 255, 0.07);
  transform: translateX(-14px);
}

.hero .logo .logo-rect-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 169px;
  height: 181px;
  background-color: #4af6cd;
}

.hero .logo .logo-text-small {
  position: absolute;
  top: 0;
  left: 0;
  font-family: FiraSans-ExtraBold;
  font-size: 60px;
  color: #ffffff;
  transform-origin: left center;
  transform: rotate(-90deg) translate(-242px, 80px);
}

.hero .logo .logo-text-small .logo-text-surf {
  padding-left: 36px;
}

.hero .logo .logo-text-small .logo-text-surf::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  transform: translate(-29px, -50%);
}

.hero .nav {
  display: flex;
  flex-direction: column;
  padding-top: 398px;
  width: 169px;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.hero .nav .menu {
  margin: 0 auto;
  width: 59px;
}

.hero .nav .menu .menu-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
  font-family: FiraSans-Medium;
  font-size: 12px;
  letter-spacing: 3px;
  color: #ffffff;
  text-align: center;
}

.hero .nav .menu .menu-item img {
  margin-bottom: 6px;
  max-width: 100%;
}

.hero .nav .search {
  margin-top: 12px;
  margin-bottom: 26px;
}

.hero .nav .date {
  color: #ffffff;
  text-align: center;
}

.hero .nav .date .data-day {
  font-family: FiraSans-ExtraBold;
  font-size: 72px;
}

.hero .nav .date .data-year-and-month {
  margin-top: -6px;
  font-family: FiraSans-Light;
  font-size: 16px;
}

.hero .nav .location {
  margin-top: 30px;
  font-family: FiraSans-Light;
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
}

.hero .nav .location .location-icon {
  margin-right: 2px;
  vertical-align: top;
}

.hero .hero-content {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 74px;
}

.hero .hero-content .page-title {
  text-transform: uppercase;
  text-align: right;
}

.hero .hero-content .page-title p {
  position: relative;
  font-family: FiraSans-Regular;
  font-size: 22px;
  letter-spacing: 7px;
  color: rgba(255, 255, 255, 0.5);
  transform: translateX(7px);
}

.hero .hero-content .page-title p:last-of-type {
  margin-top: 36px;
}

.hero .hero-content .page-title p::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 80px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(-104px, -50%);
}

.hero .hero-content .page-title .heading-shore {
  margin-top: 10px;
  font-family: FiraSans-ExtraBold;
  font-size: 80px;
  color: #ffffff;
}

.hero .hero-content .page-title .heading-description {
  margin-top: 12px;
  font-family: FiraSans-ExtraBold;
  font-size: 40px;
  color: #ffffff;
}

.hero .hero-content .arrow-right {
  margin-top: 24px;
  text-align: right;
}

.hero .hero-content .pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 36px;
}

.hero .hero-content .pagination .pagination-item {
  margin-right: 40px;
}

.hero .hero-content .pagination .pagination-item:last-child {
  margin-right: 0;
}

.hero .hero-content .pagination .pagination-item .progress {
  margin-bottom: 10px;
  width: 200px;
  height: 4px;
  background-color: #ffffff;
}

.hero .hero-content .pagination .pagination-item .progress.active {
  background-color: #4af6cd;
}

.hero .hero-content .pagination .pagination-item .number-and-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .hero-content .pagination .pagination-item .number-and-description .number {
  font-family: FiraSans-ExtraBold;
  font-size: 24px;
  color: #ffffff;
}

.hero .hero-content .pagination .pagination-item .number-and-description .description {
  font-family: FiraSans-Light;
  font-size: 16px;
  color: #ffffff;
}

.hero .arrow-down {
  position: absolute;
  bottom: 42px;
  left: 210px;
}

.surf {
  position: relative;
}

.surf .surf-title {
  position: absolute;
  top: 160px;
  left: 245px;
  display: inline-block;
  font-family: FiraSans-ExtraBold;
  font-size: 80px;
  color: #ffffff;
  text-transform: uppercase;
}

.surf .surf-title::before {
  position: absolute;
  top: -8px;
  left: -294px;
  content: 'Surf';
  font-family: FiraSans-ExtraBold;
  font-size: 200px;
  color: rgba(255, 255, 255, 0.02);
  text-transform: uppercase;
}

.surf .surf-title::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 80px;
  height: 1px;
  background-color: #4af6cd;
}

.surf .current-location {
  position: absolute;
  top: 310px;
  right: 80px;
  text-align: right;
  text-transform: uppercase;
}

.surf .current-location p {
  position: relative;
  font-family: FiraSans-Regular;
  font-size: 22px;
  letter-spacing: 7px;
  color: rgba(255, 255, 255, 0.5);
  transform: translateX(7px);
}

.surf .current-location p::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 80px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(-104px, -50%);
}

.surf .current-location h2 {
  margin-top: 12px;
  font-family: FiraSans-ExtraBold;
  font-size: 40px;
  color: #ffffff;
}

.surf .current-location h2 span {
  font-family: FiraSans-Thin;
  font-weight: normal;
}

.surf .map {
  padding-top: 367px;
  padding-left: 79px;
}

.surf .map .places {
  position: absolute;
  top: 367px;
  left: 79px;
}

.surf .map .places .place {
  position: absolute;
}

.surf .map .places .place .place-spot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #4af6cd;
  box-shadow: 0px 0px 35px 0px rgba(74, 246, 205, 0.84);
}

.surf .map .places .place .place-info-wrapper {
  position: absolute;
  top: -10px;
  left: 50%;
  padding-top: 24px;
  padding-left: 32px;
  padding-right: 32px;
  width: 283px;
  height: 216px;
  background-color: rgba(15, 16, 16, 0.7);
  border-radius: 6px;
  transform: translate(-50%, -100%);
}

.surf .map .places .place .place-info-wrapper .beach-name {
  font-family: FiraSans-ExtraBold;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.surf .map .places .place .place-info-wrapper .beach-name::after {
  content: '';
  display: block;
  margin-top: 10px;
  width: 80px;
  height: 1px;
  background-color: #4af6cd;
}

.surf .map .places .place .place-info-wrapper .place-name {
  margin-top: 10px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  color: #ffffff;
}

.surf .map .places .place .place-info-wrapper .place-info {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 6px;
}

.surf .map .places .place .place-info-wrapper .place-info .info {
  text-align: center;
}

.surf .map .places .place .place-info-wrapper .place-info .info img {
  max-width: 100%;
}

.surf .map .places .place .place-info-wrapper .place-info .info .info-value {
  margin-top: 4px;
  font-family: FiraSans-ExtraBold;
  font-size: 16px;
  color: #ffffff;
}

.surf .map .places .place .place-info-wrapper .place-info .info .info-name {
  margin-top: 6px;
  font-family: FiraSans-Light;
  font-size: 10px;
  color: #ffffff;
}

.surf .map .places .place1 {
  top: 330px;
  left: -12px;
}

.surf .map .places .place2 {
  top: 290px;
  left: 149px;
}

.surf .map .places .place3 {
  top: 318px;
  left: 351px;
}

.surf .map .places .place4 {
  top: 501px;
  left: 426px;
}

.surf .map .places .place5 {
  top: 212px;
  left: 543px;
}

.surf .map .places .place6 {
  top: 555px;
  left: 650px;
}

.surf .map .places .place7 {
  top: 395px;
  left: 811px;
}

.surf .map .places .place8 {
  top: 501px;
  left: 1089px;
}

html {
  background-color: #171919;
}

/*# sourceMappingURL=main.css.map */