* {
  box-sizing: border-box;
}

html, body, button, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

button, input {
  border: none;
  outline: none;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.hero {
  position: relative;
  width: 100%;
  height: 1024px;
  background-image: url(../images/hero/Map.svg), radial-gradient(circle at 42% 49%, rgba(34, 34, 34, 0.43), #0F0F0F), url(../images/hero/bg.png);
  background-position: right top, center, center;
  background-repeat: no-repeat;
}

.hero .logo {
  position: absolute;
  top: 0;
  left: 0;
}

.hero .logo .logo-text-large {
  position: absolute;
  top: 0;
  left: 0;
  font-family: FiraSans-ExtraBold;
  font-size: 200px;
  line-height: 156px;
  color: rgba(255, 255, 255, 0.07);
  transform: translateX(-14px);
}

.hero .logo .logo-rect-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 169px;
  height: 181px;
  background-color: #4af6cd;
}

.hero .logo .logo-text-small {
  position: absolute;
  top: 0;
  left: 0;
  font-family: FiraSans-ExtraBold;
  font-size: 60px;
  color: #ffffff;
  transform-origin: left center;
  transform: rotate(-90deg) translate(-242px, 80px);
}

.hero .logo .logo-text-small .logo-text-surf {
  padding-left: 36px;
}

.hero .logo .logo-text-small .logo-text-surf::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  transform: translate(-29px, -50%);
}

.hero .nav {
  display: flex;
  flex-direction: column;
  padding-top: 398px;
  width: 169px;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.hero .nav .menu {
  margin: 0 auto;
  width: 59px;
}

.hero .nav .menu .menu-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
  font-family: FiraSans-Medium;
  font-size: 12px;
  letter-spacing: 3px;
  color: #ffffff;
  text-align: center;
}

.hero .nav .menu .menu-item img {
  margin-bottom: 6px;
  max-width: 100%;
}

.hero .nav .search {
  margin-top: 12px;
  margin-bottom: 26px;
}

.hero .nav .date {
  color: #ffffff;
  text-align: center;
}

.hero .nav .date .data-day {
  font-family: FiraSans-ExtraBold;
  font-size: 72px;
}

.hero .nav .date .data-year-and-month {
  margin-top: -6px;
  font-family: FiraSans-Light;
  font-size: 16px;
}

.hero .nav .location {
  margin-top: 30px;
  font-family: FiraSans-Light;
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
}

.hero .nav .location .location-icon {
  margin-right: 2px;
  vertical-align: top;
}

.hero .hero-content {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 74px;
}

.hero .hero-content .page-title {
  text-transform: uppercase;
  text-align: right;
}

.hero .hero-content .page-title p {
  position: relative;
  font-family: FiraSans-Regular;
  font-size: 22px;
  letter-spacing: 7px;
  color: rgba(255, 255, 255, 0.5);
  transform: translateX(7px);
}

.hero .hero-content .page-title p:last-of-type {
  margin-top: 36px;
}

.hero .hero-content .page-title p::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 80px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(-104px, -50%);
}

.hero .hero-content .page-title .heading-shore {
  margin-top: 10px;
  font-family: FiraSans-ExtraBold;
  font-size: 80px;
  color: #ffffff;
}

.hero .hero-content .page-title .heading-description {
  margin-top: 12px;
  font-family: FiraSans-ExtraBold;
  font-size: 40px;
  color: #ffffff;
}

.hero .hero-content .arrow-right {
  margin-top: 24px;
  text-align: right;
}

.hero .hero-content .pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 36px;
}

.hero .hero-content .pagination .pagination-item {
  margin-right: 40px;
}

.hero .hero-content .pagination .pagination-item:last-child {
  margin-right: 0;
}

.hero .hero-content .pagination .pagination-item .progress {
  margin-bottom: 10px;
  width: 200px;
  height: 4px;
  background-color: #ffffff;
}

.hero .hero-content .pagination .pagination-item .progress.active {
  background-color: #4af6cd;
}

.hero .hero-content .pagination .pagination-item .number-and-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .hero-content .pagination .pagination-item .number-and-description .number {
  font-family: FiraSans-ExtraBold;
  font-size: 24px;
  color: #ffffff;
}

.hero .hero-content .pagination .pagination-item .number-and-description .description {
  font-family: FiraSans-Light;
  font-size: 16px;
  color: #ffffff;
}

.hero .arrow-down {
  position: absolute;
  bottom: 42px;
  left: 210px;
}

.surf {
  position: relative;
  background-image: url(../images/surf/bg.png);
  background-position: right 219px;
  background-repeat: no-repeat;
}

.surf .surf-title {
  position: absolute;
  top: 160px;
  left: 245px;
  display: inline-block;
  font-family: FiraSans-ExtraBold;
  font-size: 80px;
  color: #ffffff;
  text-transform: uppercase;
}

.surf .surf-title::before {
  position: absolute;
  top: -8px;
  left: -294px;
  content: 'Surf';
  font-family: FiraSans-ExtraBold;
  font-size: 200px;
  color: rgba(255, 255, 255, 0.02);
  text-transform: uppercase;
}

.surf .surf-title::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 80px;
  height: 1px;
  background-color: #4af6cd;
}

.surf .right-text-wrapper {
  position: absolute;
  top: 310px;
  right: 80px;
  text-align: right;
  text-transform: uppercase;
}

.surf .right-text-wrapper p {
  position: relative;
  font-family: FiraSans-Regular;
  font-size: 22px;
  letter-spacing: 7px;
  color: rgba(255, 255, 255, 0.5);
  transform: translateX(7px);
}

.surf .right-text-wrapper p::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 80px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(-104px, -50%);
}

.surf .right-text-wrapper h2 {
  margin-top: 12px;
  font-family: FiraSans-ExtraBold;
  font-size: 40px;
  color: #ffffff;
}

.surf .right-text-wrapper h2 span {
  font-family: FiraSans-Thin;
  font-weight: normal;
}

.surf .map {
  padding-top: 367px;
  padding-left: 79px;
}

.surf .map .places {
  position: absolute;
  top: 367px;
  left: 79px;
}

.surf .map .places .place {
  position: absolute;
}

.surf .map .places .place .place-spot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #4af6cd;
  box-shadow: 0px 0px 35px 0px rgba(74, 246, 205, 0.84);
}

.surf .map .places .place .place-info-wrapper {
  position: absolute;
  top: -10px;
  left: 50%;
  padding-top: 24px;
  padding-left: 32px;
  padding-right: 32px;
  width: 283px;
  height: 216px;
  background-color: rgba(15, 16, 16, 0.7);
  border-radius: 6px;
  transform: translate(-50%, -100%);
}

.surf .map .places .place .place-info-wrapper .beach-name {
  font-family: FiraSans-ExtraBold;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.surf .map .places .place .place-info-wrapper .beach-name::after {
  content: '';
  display: block;
  margin-top: 10px;
  width: 80px;
  height: 1px;
  background-color: #4af6cd;
}

.surf .map .places .place .place-info-wrapper .place-name {
  margin-top: 10px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  color: #ffffff;
}

.surf .map .places .place .place-info-wrapper .place-info {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 6px;
}

.surf .map .places .place .place-info-wrapper .place-info .info {
  text-align: center;
}

.surf .map .places .place .place-info-wrapper .place-info .info img {
  max-width: 100%;
}

.surf .map .places .place .place-info-wrapper .place-info .info .info-value {
  margin-top: 4px;
  font-family: FiraSans-ExtraBold;
  font-size: 16px;
  color: #ffffff;
}

.surf .map .places .place .place-info-wrapper .place-info .info .info-name {
  margin-top: 6px;
  font-family: FiraSans-Light;
  font-size: 10px;
  color: #ffffff;
}

.surf .map .places .place1 {
  top: 330px;
  left: -12px;
}

.surf .map .places .place2 {
  top: 290px;
  left: 149px;
}

.surf .map .places .place3 {
  top: 318px;
  left: 351px;
}

.surf .map .places .place4 {
  top: 501px;
  left: 426px;
}

.surf .map .places .place5 {
  top: 212px;
  left: 543px;
}

.surf .map .places .place6 {
  top: 555px;
  left: 650px;
}

.surf .map .places .place7 {
  top: 395px;
  left: 811px;
}

.surf .map .places .place8 {
  top: 501px;
  left: 1089px;
}

.surf .shores {
  display: flex;
  margin-top: 110px;
}

.surf .shores .shore {
  position: relative;
  flex-shrink: 0;
  width: 390px;
  height: 750px;
  overflow: hidden;
}

.surf .shores .shore::after {
  content: '';
  position: absolute;
  z-index: 210;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1C2121;
  opacity: .85;
}

.surf .shores .shore.active::after {
  opacity: .3;
}

.surf .shores .shore h3 {
  position: absolute;
  z-index: 211;
  top: 76px;
  left: 40px;
  font-family: FiraSans-ExtraBold;
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
}

.surf .shores .shore .shore-location {
  position: absolute;
  z-index: 211;
  top: 0;
  left: 0;
  font-family: FiraSans-Regular;
  font-size: 18px;
  letter-spacing: 8px;
  color: #ffffff;
  text-transform: uppercase;
  transform-origin: left center;
  transform: rotate(-90deg) translate(-662px, 48px);
}

.surf .shores .shore .shore-location span {
  font-family: FiraSans-Thin;
}

.surf .shores .shore .view-surf {
  position: absolute;
  z-index: 211;
  bottom: 0;
  left: 45px;
  font-family: FiraSans-ExtraBold;
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
}

.surf .shores .shore .view-surf .view-surf-bg {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 168px;
  height: 80px;
  background-color: #4af6cd;
}

.surf .shores .shore .view-surf .view-surf-text {
  padding-bottom: 14px;
}

.surf .shores .shore .view-surf .view-surf-text span {
  padding-left: 27px;
  padding-right: 57px;
}

.surf .shores .shore .view-surf .view-surf-text span::before {
  content: '';
  position: absolute;
  top: calc(50% - 7px);
  left: 98px;
  width: 20px;
  height: 1px;
  background-color: #ffffff;
  transform: translate(0, -50%);
}

.surf .shores .shore .view-surf .view-surf-text span::after {
  content: '';
  position: absolute;
  top: calc(50% - 7px);
  right: 16px;
  width: 25px;
  height: 21px;
  background-image: url(../images/surf/arrow-right.svg);
  transform: translate(0, -50%);
}

.surf .shores .North-Shore {
  z-index: 200;
  transform: translate(0, 32px);
}

.surf .shores .North-Shore img {
  transform: translate(-448px, 0);
}

.surf .shores .South-Shore {
  z-index: 201;
  transform: translate(-40px);
}

.surf .shores .South-Shore img {
  transform: translate(-730px, 0);
}

.surf .shores .West-Shore {
  z-index: 202;
  transform: translate(-80px, 89px);
}

.surf .shores .West-Shore img {
  transform: translate(-215px, 0);
}

.surf .shores .East-Shore {
  z-index: 203;
  transform: translate(-120px);
}

.surf .shores .East-Shore img {
  transform: translate(-268px, 0);
}

.travel {
  position: relative;
  margin-top: 89px;
}

.travel .travel-title {
  position: absolute;
  top: 250px;
  left: 245px;
  display: inline-block;
  font-family: FiraSans-ExtraBold;
  font-size: 80px;
  color: #ffffff;
  text-transform: uppercase;
}

.travel .travel-title::before {
  position: absolute;
  top: -8px;
  left: -294px;
  content: 'Travel';
  font-family: FiraSans-ExtraBold;
  font-size: 200px;
  color: rgba(255, 255, 255, 0.02);
  text-transform: uppercase;
}

.travel .travel-title::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 80px;
  height: 1px;
  background-color: #4af6cd;
}

.travel .right-text-wrapper {
  position: absolute;
  top: 512px;
  right: 80px;
  text-align: right;
  text-transform: uppercase;
}

.travel .right-text-wrapper p {
  position: relative;
  font-family: FiraSans-Regular;
  font-size: 22px;
  letter-spacing: 7px;
  color: rgba(255, 255, 255, 0.5);
  transform: translateX(7px);
}

.travel .right-text-wrapper p::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 80px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(-104px, -50%);
}

.travel .right-text-wrapper h2 {
  margin-top: 12px;
  font-family: FiraSans-ExtraBold;
  font-size: 40px;
  color: #ffffff;
}

.travel .right-text-wrapper h2 span {
  font-family: FiraSans-Thin;
  font-weight: normal;
}

.travel .travel-img-wrapper {
  padding-top: 462px;
  opacity: .9;
}

.travel .left-text-wrapper {
  position: absolute;
  top: 1100px;
  left: 133px;
  text-align: left;
  text-transform: uppercase;
}

.travel .left-text-wrapper p {
  position: relative;
  font-family: FiraSans-Regular;
  font-size: 22px;
  letter-spacing: 7px;
  color: rgba(255, 255, 255, 0.5);
}

.travel .left-text-wrapper p::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 80px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(20px, -50%);
}

.travel .left-text-wrapper h2 {
  position: relative;
  margin-top: 12px;
  font-family: FiraSans-ExtraBold;
  font-size: 40px;
  color: #ffffff;
}

.travel .left-text-wrapper h2::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 52px;
  height: 46px;
  background-image: url(../images/travel/airline-logo.png);
  transform: translate(24px, -50%);
}

.travel .plane-img-wrapper {
  position: absolute;
  top: 1046px;
  right: -28px;
}

.travel .travel-info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 106px;
  margin-left: 133px;
  margin-right: 133px;
  text-transform: uppercase;
}

.travel .travel-info-wrapper .info-item {
  position: relative;
}

.travel .travel-info-wrapper .info-item p {
  position: absolute;
  font-family: FiraSans-Regular;
  font-size: 18px;
  letter-spacing: 8px;
  color: rgba(255, 255, 255, 0.5);
  transform-origin: left center;
  transform: rotate(-90deg) translate(calc(-100% + 12px), 50%);
}

.travel .travel-info-wrapper .info-item h2 {
  margin-left: 40px;
  font-family: FiraSans-ExtraBold;
  font-size: 40px;
  color: #ffffff;
}

.travel .travel-info-wrapper .info-pricing h2 span {
  letter-spacing: 6px;
}

.travel .travel-info-wrapper .info-pricing div {
  font-family: FiraSans-Regular;
  font-size: 14px;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.75);
  text-align: right;
}

.travel .cocktail-img-wrapper {
  position: absolute;
  top: 1372px;
  right: -100px;
}

.travel .bottom-text-wrapper {
  position: relative;
  bottom: 0;
  left: 50%;
  display: inline-block;
  margin-top: 182px;
  font-family: FiraSans-ExtraBold;
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  transform: translate(-50%);
}

.travel .bottom-text-wrapper .bottom-text-bg {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 80px;
  background-color: #4af6cd;
}

.travel .bottom-text-wrapper .bottom-text {
  padding-bottom: 14px;
}

.travel .bottom-text-wrapper .bottom-text span {
  padding-left: 27px;
  padding-right: 57px;
}

.travel .bottom-text-wrapper .bottom-text span::before {
  content: '';
  position: absolute;
  top: calc(50% - 7px);
  left: 114px;
  width: 20px;
  height: 1px;
  background-color: #ffffff;
  transform: translate(0, -50%);
}

.travel .bottom-text-wrapper .bottom-text span::after {
  content: '';
  position: absolute;
  top: calc(50% - 7px);
  right: 16px;
  width: 25px;
  height: 21px;
  background-image: url(../images/surf/arrow-right.svg);
  transform: translate(0, -50%);
}

.sleep {
  position: relative;
}

.sleep .sleep-title {
  position: absolute;
  top: 360px;
  left: 245px;
  display: inline-block;
  font-family: FiraSans-ExtraBold;
  font-size: 80px;
  color: #ffffff;
  text-transform: uppercase;
}

.sleep .sleep-title::before {
  position: absolute;
  top: -8px;
  left: -294px;
  content: 'Sleep';
  font-family: FiraSans-ExtraBold;
  font-size: 200px;
  color: rgba(255, 255, 255, 0.02);
  text-transform: uppercase;
}

.sleep .sleep-title::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 80px;
  height: 1px;
  background-color: #4af6cd;
}

.sleep .right-text-wrapper {
  position: absolute;
  top: 623px;
  right: 80px;
  text-align: right;
  text-transform: uppercase;
}

.sleep .right-text-wrapper p {
  position: relative;
  font-family: FiraSans-Regular;
  font-size: 22px;
  letter-spacing: 7px;
  color: rgba(255, 255, 255, 0.5);
  transform: translateX(7px);
}

.sleep .right-text-wrapper p::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 80px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(-104px, -50%);
}

.sleep .right-text-wrapper h2 {
  margin-top: 12px;
  font-family: FiraSans-ExtraBold;
  font-size: 40px;
  color: #ffffff;
}

.sleep .right-text-wrapper h2 span {
  font-family: FiraSans-Thin;
  font-weight: normal;
}

.sleep .sleep-img-wrapper {
  padding-top: 572px;
  opacity: .75;
}

.sleep .left-text-wrapper {
  position: absolute;
  top: 1210px;
  left: 133px;
  text-align: left;
  text-transform: uppercase;
}

.sleep .left-text-wrapper p {
  position: relative;
  font-family: FiraSans-Regular;
  font-size: 22px;
  letter-spacing: 7px;
  color: rgba(255, 255, 255, 0.5);
}

.sleep .left-text-wrapper p::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 80px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(20px, -50%);
}

.sleep .left-text-wrapper h2 {
  position: relative;
  margin-top: 12px;
  font-family: FiraSans-ExtraBold;
  font-size: 40px;
  color: #ffffff;
}

.sleep .left-text-wrapper h2::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 180px;
  height: 46px;
  background-image: url(../images/sleep/stars.png);
  transform: translate(24px, -50%);
}

.sleep .hammock-img-wrapper {
  position: absolute;
  top: 1036px;
  right: -78px;
}

.sleep .frangipani-small-img-wrapper {
  position: absolute;
  top: 1248px;
  right: -86px;
}

.sleep .sleep-info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 106px;
  margin-left: 133px;
  margin-right: 133px;
  text-transform: uppercase;
}

.sleep .sleep-info-wrapper .info-item {
  position: relative;
}

.sleep .sleep-info-wrapper .info-item p {
  position: absolute;
  font-family: FiraSans-Regular;
  font-size: 18px;
  letter-spacing: 8px;
  color: rgba(255, 255, 255, 0.5);
  transform-origin: left center;
  transform: rotate(-90deg) translate(calc(-100% + 12px), 50%);
}

.sleep .sleep-info-wrapper .info-item h2 {
  margin-left: 40px;
  font-family: FiraSans-ExtraBold;
  font-size: 40px;
  color: #ffffff;
}

.sleep .sleep-info-wrapper .info-nights h2, .sleep .sleep-info-wrapper .info-guests h2 {
  letter-spacing: 6px;
}

.sleep .sleep-info-wrapper .info-nights div, .sleep .sleep-info-wrapper .info-guests div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2px;
}

.sleep .sleep-info-wrapper .info-nights div .minus-img, .sleep .sleep-info-wrapper .info-guests div .minus-img {
  margin-right: 16px;
}

.sleep .sleep-info-wrapper .info-nights div .plus-img, .sleep .sleep-info-wrapper .info-guests div .plus-img {
  margin-right: 10px;
}

.sleep .sleep-info-wrapper .info-pricing h2 span {
  letter-spacing: 6px;
}

.sleep .sleep-info-wrapper .info-pricing div {
  font-family: FiraSans-Regular;
  font-size: 14px;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.75);
  text-align: right;
}

.sleep .frangipani-img-wrapper {
  position: absolute;
  top: 1502px;
  right: -166px;
}

.sleep .bottom-text-wrapper {
  position: relative;
  bottom: 0;
  left: 50%;
  display: inline-block;
  margin-top: 182px;
  font-family: FiraSans-ExtraBold;
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  transform: translate(-50%);
}

.sleep .bottom-text-wrapper .bottom-text-bg {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 162px;
  height: 80px;
  background-color: #4af6cd;
}

.sleep .bottom-text-wrapper .bottom-text {
  padding-bottom: 14px;
}

.sleep .bottom-text-wrapper .bottom-text span {
  padding-left: 27px;
  padding-right: 57px;
}

.sleep .bottom-text-wrapper .bottom-text span::before {
  content: '';
  position: absolute;
  top: calc(50% - 7px);
  left: 114px;
  width: 20px;
  height: 1px;
  background-color: #ffffff;
  transform: translate(0, -50%);
}

.sleep .bottom-text-wrapper .bottom-text span::after {
  content: '';
  position: absolute;
  top: calc(50% - 7px);
  right: 16px;
  width: 25px;
  height: 21px;
  background-image: url(../images/surf/arrow-right.svg);
  transform: translate(0, -50%);
}

html {
  background-color: #171919;
}

/*# sourceMappingURL=main.css.map */