.hero {
  position: relative;
  width: 100%;
  height: 1024px;
  background-image: radial-gradient(circle at 42% 49%, rgba(34, 34, 34, .43), #0F0F0F), url(../images/hero/bg.png);

  .logo {
    position: absolute;
    top: 0;
    left: 0;

    .logo-text-large {
      position: absolute;
      top: 0;
      left: 0;
      font-family: FiraSans-ExtraBold;
      font-size: 200px;
      line-height: 156px;
      color: rgba(255, 255, 255, .07);
      transform: translateX(-14px);
    }

    .logo-rect-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 169px;
      height: 181px;
      background-color: #4af6cd;
    }

    .logo-text-small {
      position: absolute;
      top: 0;
      left: 0;
      font-family: FiraSans-ExtraBold;
      font-size: 60px;
      color: #ffffff;
      transform-origin: left center;
      transform: rotate(-90deg) translate(-242px, 80px);

      .logo-text-surf {
        padding-left: 36px;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          width: 20px;
          height: 2px;
          background-color: #ffffff;
          transform: translate(-29px, -50%);
        }
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    padding-top: 398px;
    width: 169px;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, .25);

    .menu {
      margin: 0 auto;
      width: 59px;

      .menu-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 34px;
        font-family: FiraSans-Medium;
        font-size: 12px;
        letter-spacing: 3px;
        color: #ffffff;
        text-align: center;

        img {
          margin-bottom: 6px;
          max-width: 100%;
        }
      }
    }

    .search {
      margin-top: 12px;
      margin-bottom: 26px;
    }

    .date {
      color: #ffffff;
      text-align: center;

      .data-day {
        font-family: FiraSans-ExtraBold;
        font-size: 72px;
      }

      .data-year-and-month {
        margin-top: -6px;
        font-family: FiraSans-Light;
        font-size: 16px;
      }
    }

    .location {
      margin-top: 30px;
      font-family: FiraSans-Light;
      font-size: 12px;
      letter-spacing: 1px;
      color: #ffffff;
      text-align: center;

      .location-icon {
        margin-right: 2px;
        vertical-align: top;
      }
    }
  }

  .hero-content {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 73px;

    .page-title {
      text-transform: uppercase;
      text-align: right;
  
      p {
        position: relative;
        font-family: FiraSans-Regular;
        font-size: 22px;
        letter-spacing: 7px;
        color: rgba(255, 255, 255, .5);
        transform: translateX(7px);
  
        &:last-of-type {
          margin-top: 36px;
        }
  
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          width: 80px;
          height: 1px;
          background-color: rgba(255, 255, 255, .5);
          transform: translate(-104px, -50%);
        }
      }
  
      .heading-shore {
        margin-top: 10px;
        font-family: FiraSans-ExtraBold;
        font-size: 80px;
        color: #ffffff;
      }
  
      .heading-description {
        margin-top: 12px;
        font-family: FiraSans-ExtraBold;
        font-size: 40px;
        color: #ffffff;
      }
    }

    .pagination {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      margin-bottom: 37px;

      .pagination-item {
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }

        .progress {
          margin-bottom: 10px;
          width: 200px;
          height: 4px;
          background-color: #ffffff;

          &.active {
            background-color: #4af6cd;
          }
        }

        .number-and-description {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .number {
            font-family: FiraSans-ExtraBold;
            font-size: 24px;
            color: #ffffff;
          }
  
          .description {
            font-family: FiraSans-Light;
            font-size: 16px;
            color: #ffffff;
          }
        }
      }
    }
  }
}