.sleep {
  position: relative;

  .sleep-title {
    position: absolute;
    top: 360px;
    left: 245px;
    display: inline-block;
    font-family: FiraSans-ExtraBold;
    font-size: 80px;
    color: #ffffff;
    text-transform: uppercase;

    &::before {
      position: absolute;
      top: -8px;
      left: -294px;
      content: 'Sleep';
      font-family: FiraSans-ExtraBold;
      font-size: 200px;
      color: rgba(255, 255, 255, .02);
      text-transform: uppercase;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      width: 80px;
      height: 1px;
      background-color: #4af6cd;
    }
  }

  .right-text-wrapper {
    position: absolute;
    top: 623px;
    right: 80px;
    text-align: right;
    text-transform: uppercase;

    p {
      position: relative;
      font-family: FiraSans-Regular;
      font-size: 22px;
      letter-spacing: 7px;
      color: rgba(255, 255, 255, .5);
      transform: translateX(7px);

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        width: 80px;
        height: 1px;
        background-color: rgba(255, 255, 255, .5);
        transform: translate(-104px, -50%);
      }
    }

    h2 {
      margin-top: 12px;
      font-family: FiraSans-ExtraBold;
      font-size: 40px;
      color: #ffffff;

      span {
        font-family: FiraSans-Thin;
        font-weight: normal;
      }
    }
  }

  .sleep-img-wrapper {
    padding-top: 572px;
    opacity: .75;
  }

  .left-text-wrapper {
    position: absolute;
    top: 1210px;
    left: 133px;
    text-align: left;
    text-transform: uppercase;

    p {
      position: relative;
      font-family: FiraSans-Regular;
      font-size: 22px;
      letter-spacing: 7px;
      color: rgba(255, 255, 255, .5);

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 80px;
        height: 1px;
        background-color: rgba(255, 255, 255, .5);
        transform: translate(20px, -50%);
      }
    }

    h2 {
      position: relative;
      margin-top: 12px;
      font-family: FiraSans-ExtraBold;
      font-size: 40px;
      color: #ffffff;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 180px;
        height: 46px;
        background-image: url(../images/sleep/stars.png);
        transform: translate(24px, -50%);
      }
    }
  }

  .hammock-img-wrapper {
    position: absolute;
    top: 1036px;
    right: -78px;
  }

  .frangipani-small-img-wrapper {
    position: absolute;
    top: 1248px;
    right: -86px;
  }

  .sleep-info-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 106px;
    margin-left: 133px;
    margin-right: 133px;
    text-transform: uppercase;

    .info-item {
      position: relative;

      p {
        position: absolute;
        font-family: FiraSans-Regular;
        font-size: 18px;
        letter-spacing: 8px;
        color: rgba(255, 255, 255, 0.5);
        transform-origin: left center;
        transform: rotate(-90deg) translate(calc(-100% + 12px), 50%);
      }

      h2 {
        margin-left: 40px;
        font-family: FiraSans-ExtraBold;
        font-size: 40px;
        color: #ffffff;  
      }
    }

    .info-nights, .info-guests {
      h2 {
        letter-spacing: 6px;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 2px;

        .minus-img {
          margin-right: 16px;
        }
  
        .plus-img {
          margin-right: 10px;
        }
      }
    }

    .info-pricing {
      h2 {
        span {
          letter-spacing: 6px;
        }
      }

      div {
        font-family: FiraSans-Regular;
        font-size: 14px;
        letter-spacing: 5px;
        color: rgba(255, 255, 255, 0.75);
        text-align: right;
      }
    }
  }
}