.surf {
  position: relative;
  background-image: url(../images/surf/bg.png);
  background-position: right 219px;
  background-repeat: no-repeat;

  .surf-title {
    position: absolute;
    top: 160px;
    left: 245px;
    display: inline-block;
    font-family: FiraSans-ExtraBold;
    font-size: 80px;
    color: #ffffff;
    text-transform: uppercase;

    &::before {
      position: absolute;
      top: -8px;
      left: -294px;
      content: 'Surf';
      font-family: FiraSans-ExtraBold;
      font-size: 200px;
      color: rgba(255, 255, 255, .02);
      text-transform: uppercase;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      width: 80px;
      height: 1px;
      background-color: #4af6cd;
    }
  }

  .right-text-wrapper {
    position: absolute;
    top: 310px;
    right: 80px;
    text-align: right;
    text-transform: uppercase;

    p {
      position: relative;
      font-family: FiraSans-Regular;
      font-size: 22px;
      letter-spacing: 7px;
      color: rgba(255, 255, 255, .5);
      transform: translateX(7px);

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        width: 80px;
        height: 1px;
        background-color: rgba(255, 255, 255, .5);
        transform: translate(-104px, -50%);
      }
    }

    h2 {
      margin-top: 12px;
      font-family: FiraSans-ExtraBold;
      font-size: 40px;
      color: #ffffff;

      span {
        font-family: FiraSans-Thin;
        font-weight: normal;
      }
    }
  }

  .map {
    padding-top: 367px;
    padding-left: 79px;

    @media screen and (min-width: $root-width) {
      position: relative;
      left: 50%;
      display: inline-block;
      transform: translateX(calc(-50% - 79px));
    }

    .places {
      position: absolute;
      top: 367px;
      left: 79px;

      .place {
        position: absolute;
  
        .place-spot {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: #4af6cd;
          box-shadow: 0px 0px 35px 0px rgba(74, 246, 205, .84);
          cursor: pointer;
          animation: place-spot-animation 2s linear 0s infinite;
        }

        .place-info-wrapper {
          position: absolute;
          top: -10px;
          left: 50%;
          padding-top: 24px;
          padding-left: 32px;
          padding-right: 32px;
          width: 283px;
          height: 216px;
          background-color: rgba(15, 16, 16, .7);
          border-radius: 6px;
          transform: translate(-50%, -100%);

          .beach-name {
            font-family: FiraSans-ExtraBold;
            font-size: 18px;
            color: #ffffff;
            text-transform: uppercase;

            &::after {
              content: '';
              display: block;
              margin-top: 10px;
              width: 80px;
              height: 1px;
              background-color: #4af6cd;
            }
          }

          .place-name {
            margin-top: 10px;
            font-family: FiraSans-Regular;
            font-size: 16px;
            color: #ffffff;
          }

          .place-info {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            padding: 0 6px;

            .info {
              text-align: center;

              img {
                max-width: 100%;
              }

              .info-value {
                margin-top: 4px;
                font-family: FiraSans-ExtraBold;
                font-size: 16px;
                color: #ffffff;
              }

              .info-name {
                margin-top: 6px;
                font-family: FiraSans-Light;
                font-size: 10px;
                color: #ffffff;
              }
            }
          }
        }
      }
  
      .place1 {
        top: 330px;
        left: -12px;
      }
  
      .place2 {
        top: 290px;
        left: 149px;
      }
  
      .place3 {
        top: 318px;
        left: 351px;
      }
  
      .place4 {
        top: 501px;
        left: 426px;
      }
  
      .place5 {
        top: 212px;
        left: 543px;
      }
  
      .place6 {
        top: 555px;
        left: 650px;
      }
  
      .place7 {
        top: 395px;
        left: 811px;
      }
  
      .place8 {
        top: 501px;
        left: 1089px;
      }
    }
  }

  .shores {
    $shore-z-index: 200;
    display: flex;
    margin-top: 110px;

    @media screen and (min-width: $root-width) {
      justify-content: center;
      transform: translateX(60px);
    }

    .shore {
      position: relative;
      flex-shrink: 0;
      width: 390px;
      height: 750px;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        z-index: $shore-z-index + 10;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #1C2121;
        opacity: .85;
      }

      &.active::after {
        opacity: .3;
      }

      h3 {
        position: absolute;
        z-index: $shore-z-index + 11;
        top: 76px;
        left: 40px;
        font-family: FiraSans-ExtraBold;
        font-size: 40px;
        color: #ffffff;
        text-transform: uppercase;
      }

      .shore-location {
        position: absolute;
        z-index: $shore-z-index + 11;
        top: 0;
        left: 0;
        font-family: FiraSans-Regular;
        font-size: 18px;
        letter-spacing: 8px;
        color: #ffffff;
        text-transform: uppercase;
        transform-origin: left center;
        transform: rotate(-90deg) translate(-662px, 48px);

        span {
          font-family: FiraSans-Thin;
        }
      }

      .view-surf {
        position: absolute;
        z-index: $shore-z-index + 11;
        bottom: 0;
        left: 45px;
        font-family: FiraSans-ExtraBold;
        font-size: 40px;
        color: #ffffff;
        text-transform: uppercase;

        .view-surf-bg {
          position: absolute;
          z-index: -1;
          bottom: 0;
          right: 0;
          width: 168px;
          height: 80px;
          background-color: #4af6cd;
        }

        .view-surf-text {
          padding-bottom: 14px;
          white-space: nowrap;

          span {
            padding-left: 27px;
            padding-right: 57px;

            &::before {
              content: '';
              position: absolute;
              top: calc(50% - 7px);
              left: 98px;
              width: 20px;
              height: 1px;
              background-color: #ffffff;
              transform: translate(0, -50%);
            }

            &::after {
              content: '';
              position: absolute;
              top: calc(50% - 7px);
              right: 16px;
              width: 25px;
              height: 21px;
              background-image: url(../images/surf/arrow-right.svg);
              transform: translate(0, -50%);
            }
          }
        }
      }
    }

    .North-Shore{
      z-index: $shore-z-index;
      transform: translate(0, 32px);

      img {
        transform: translate(-448px, 0);
      }
    }

    .South-Shore {
      z-index: $shore-z-index + 1;
      transform: translate(-40px);

      img {
        transform: translate(-730px, 0);
      }
    }

    .West-Shore {
      z-index: $shore-z-index + 2;
      transform: translate(-80px, 89px);

      img {
        transform: translate(-215px, 0);
      }
    }

    .East-Shore {
      z-index: $shore-z-index + 3;
      transform: translate(-120px);

      img {
        transform: translate(-268px, 0);
      }
    }
  }

  @keyframes place-spot-animation {
    0% {
      box-shadow: 0px 0px 35px 0px rgba(74, 246, 205, .84);
    }
    50% {
      box-shadow: 0px 0px 35px 6px rgba(74, 246, 205, .64);
    }
    100% {
      box-shadow: 0px 0px 35px 0px rgba(74, 246, 205, .84);
    }
  }
}
