.travel {
  position: relative;
  margin-top: 89px;

  .travel-title {
    position: absolute;
    top: 250px;
    left: 245px;
    display: inline-block;
    font-family: FiraSans-ExtraBold;
    font-size: 80px;
    color: #ffffff;
    text-transform: uppercase;

    &::before {
      position: absolute;
      top: -8px;
      left: -294px;
      content: 'Travel';
      font-family: FiraSans-ExtraBold;
      font-size: 200px;
      color: rgba(255, 255, 255, .02);
      text-transform: uppercase;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      width: 80px;
      height: 1px;
      background-color: #4af6cd;
    }
  }

  .right-text-wrapper {
    position: absolute;
    top: 512px;
    right: 80px;
    text-align: right;
    text-transform: uppercase;

    p {
      position: relative;
      font-family: FiraSans-Regular;
      font-size: 22px;
      letter-spacing: 7px;
      color: rgba(255, 255, 255, .5);
      transform: translateX(7px);

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        width: 80px;
        height: 1px;
        background-color: rgba(255, 255, 255, .5);
        transform: translate(-104px, -50%);
      }
    }

    h2 {
      margin-top: 12px;
      font-family: FiraSans-ExtraBold;
      font-size: 40px;
      color: #ffffff;

      span {
        font-family: FiraSans-Thin;
        font-weight: normal;
      }
    }
  }

  .travel-img-wrapper {
    padding-top: 423px;
    opacity: .9;
  }

  .left-text-wrapper {
    position: absolute;
    top: 1100px;
    left: 133px;
    text-align: left;
    text-transform: uppercase;

    p {
      position: relative;
      font-family: FiraSans-Regular;
      font-size: 22px;
      letter-spacing: 7px;
      color: rgba(255, 255, 255, .5);

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 80px;
        height: 1px;
        background-color: rgba(255, 255, 255, .5);
        transform: translate(20px, -50%);
      }
    }

    h2 {
      position: relative;
      margin-top: 12px;
      font-family: FiraSans-ExtraBold;
      font-size: 40px;
      color: #ffffff;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 52px;
        height: 46px;
        background-image: url(../images/travel/airline-logo.png);
        transform: translate(24px, -50%);
      }
    }
  }
}